@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    border: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}